.row{
    margin-left: 10px;
}
.movies-row{
    display: flex;
    overflow-x: scroll;
}
::-webkit-scrollbar{
    display: none;
}
.movie{
    width: 100%;
    object-fit: 150px;
    max-height: 150px;
    margin-right: 15px;
    transition: transform ease-in-out 450ms;
}
.movie:hover{
    transform: scale(1.05);
}
.title{
    margin-top: 20px;
    margin-bottom: 20px;
}